* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

a:link {
    color:blue;
    text-decoration: none;

}

a:visited {
    color: blue;;
}

a:hover {
    color: brown;
}

a:active {
    color: rebeccapurple;
}

h1 {
    font-style: italic;
    font-size: 50px;
    align-content: center;
    padding: 5px;
}

h2 {
    font-size: 40px;
    padding: 5px;
}

.menu {
    width: 100%;
    display: inline-block;
    padding: 10px;
    border: 3px;
    border-style: solid;
    border-color: burlywood;
    max-width: -moz-fit-content;
    max-width: fit-content;
    text-align: center;
}

li {
    width: 100%;
    margin-bottom: 10px;
}
/*
div {
    padding: 15px;
} */

.productos {
    display: inline-block;
    width: 25%;
    padding: 10px;
}

.columna {
    float: left;
    width: 20%;
    padding: 10px;
}

/* estiliza las imagenes en la grilla */
.columna img {
    opacity: 0.7;
    cursor: pointer;
}

.columna img:hover {
    opacity: 1;
}

/* elimina el float despues de las columnas */
.fila::after {
    content: "";
    display: table;
    clear: both;
}

/* expande el contenedor de imagen (la posicion debe ser relativa para el boton de cerrar y el texto*/
.contenedor {
    position: relative;
    display: none;
    max-width: 60%;
    padding: 10px;
}

/* expandir el texto de la imagen */
#textoImagen {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: black;
    background-color: rgba(255, 255, 255, 0.555);
    font-size: 20px;
    text-decoration: solid;
}

/* Boton cerrable dentro de la imagen */
.botonCerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    color: black;
    font-size: 35px;
    cursor: pointer;
}
