* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

a:link {
    color:blue;
    text-decoration: none;

}

a:visited {
    color: blue;;
}

a:hover {
    color: brown;
}

a:active {
    color: rebeccapurple;
}

h1 {
    font-style: italic;
    font-size: 50px;
    align-content: center;
    padding: 5px;
}

h2 {
    font-size: 40px;
    padding: 5px;
}

.menu {
    display: inline;
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 3px;
    border-style: solid;
    margin-bottom: 100px;
    height: 10px;
    border-color: burlywood;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

li {
    width: 100%;
    margin-bottom: 10px;
}
/*
div {
    padding: 15px;
} */

.Productos {
    display: inline;
}



.columna5 {
    float: left;
    width: 20%;
    padding: 10px;
}

.columna4 {
    float: left;
    width: 25%;
    padding: 10px;
}
/* estiliza las imagenes en la grilla */
.columna img {
    opacity: 0.1;
    cursor: pointer;
}

.columna img:hover {
    opacity: 1;
}

/* elimina el float despues de las columnas */
.fila::after {
    content: "";
    display: table;
    clear: both;
}

/* expande el contenedor de imagen (la posicion debe ser relativa para el boton de cerrar y el texto*/
.contenedor {
    position: relative;
    display: none;
}

/* expandir el texto de la imagen */
#textoImagen {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: black;
    font-size: 20px;
}

/* Boton cerrable dentro de la imagen */
.botonCerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    color: black;
    font-size: 35px;
    cursor: pointer;
}


 /**
.galeria {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */ /**
    -webkit-column-gap:5px; /* give it a 5px gap between columns */ /**
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
}

.galeria img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */ /**
}

@media (max-width: 1200px) {
    .galeria {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
}

@media (max-width: 900px) {
    .galeria {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
}

@media (max-width: 600px) {
    .galeria {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
}

@media (max-width: 300px) {
    .galeria {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
}

.galeria :hover {
    
} /**